In [1]:
# Q1
'''Encoding is the process of converting the data or a given sequence of characters, symbols, alphabets etc., into a
   specified format, for the secured transmission of data. Decoding is the reverse process of encoding which is to
   extract the information from the converted format.

   Encoding data is typically used to ensure the integrity and usability of data and is commonly used when data cannot 
   be transferred in its current format between systems or applications. Encoding is not used to protect or secure data 
   because it is easy to reverse.

   Machine learning models can only work with numerical values. For this reason, it is necessary to transform the
   categorical values of the relevant features into numerical ones. This process is called feature encoding.
   '''

'Encoding is the process of converting the data or a given sequence of characters, symbols, alphabets etc., into a\n   specified format, for the secured transmission of data. Decoding is the reverse process of encoding which is to\n   extract the information from the converted format.\n\n   Encoding data is typically used to ensure the integrity and usability of data and is commonly used when data cannot \n   be transferred in its current format between systems or applications. Encoding is not used to protect or secure data \n   because it is easy to reverse.\n\n   Machine learning models can only work with numerical values. For this reason, it is necessary to transform the\n   categorical values of the relevant features into numerical ones. This process is called feature encoding.\n   '

In [2]:
# Q2
'''Nominal Encoding:
   When we have a feature where variables are just names and there is no order or rank to this variable's feature.
   Example: City of person lives in, Gender of person, Marital Status, etc.
   In the example, We do not have any order or rank, or sequence.
   '''

"Nominal Encoding:\n   When we have a feature where variables are just names and there is no order or rank to this variable's feature.\n   Example: City of person lives in, Gender of person, Marital Status, etc.\n   In the example, We do not have any order or rank, or sequence.\n   "

In [3]:
# Q3
'''One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data,
   which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary 
   vector where each bit corresponds to a unique category. 
   example: if we have a categorical variable "color" with three possible values (red, green, blue),
   we can represent it using one hot encoding as follows:
   Red: [1, 0, 0]
   Green: [0, 1, 0]
   Blue: [0, 0, 1]
'''
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df = pd.DataFrame({'color':['red','green','blue','green','blue','red']})
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['color']]).toarray()
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          1.0        0.0
4         1.0          0.0        0.0
5         0.0          0.0        1.0

In [4]:
# Q4
'''The three popular techniques of converting Categorical values to Numeric values are done in two different methods. 
   Label Encoding. 
   One Hot Encoding.
   Binary Encoding.
   
   i use nominal or one hot encoding for this problem because i used it before for the same type of problem.
   '''

'The three popular techniques of converting Categorical values to Numeric values are done in two different methods. \n   Label Encoding. \n   One Hot Encoding.\n   Binary Encoding.\n   \n   i use nominal or one hot encoding for this problem because i used it before for the same type of problem.\n   '

In [5]:
# Q5
'''There are two columns contain categorical values but number of new columns which may added its depended to the number
of sub-categore present in it.
 example: if we have a categorical variable "color" with three possible values (red, green, blue),
 we can represent it using one hot encoding as follows:

 Red: [1, 0, 0]
 Green: [0, 1, 0]
 Blue: [0, 0, 1]
 when it rearrange with the help of OHC then there is three columns added instand of one. As shown below:
 
index       color_blue	color_green	 color_red
0	        0.0       	0.0        	 1.0
1	        1.0     	0.0      	 0.0
2	        0.0	        1.0     	 0.0
3	        0.0	        1.0     	 0.0
4	        0.0     	0.0     	 1.0
5	        1.0	        0.0	         0.0
'''

'There are two columns contain categorical values but number of new columns which may added its depended to the number\nof sub-categore present in it.\n example: if we have a categorical variable "color" with three possible values (red, green, blue),\n we can represent it using one hot encoding as follows:\n\n Red: [1, 0, 0]\n Green: [0, 1, 0]\n Blue: [0, 0, 1]\n when it rearrange with the help of OHC then there is three columns added instand of one. As shown below:\n \nindex       color_blue\tcolor_green\t color_red\n0\t        0.0       \t0.0        \t 1.0\n1\t        1.0     \t0.0      \t 0.0\n2\t        0.0\t        1.0     \t 0.0\n3\t        0.0\t        1.0     \t 0.0\n4\t        0.0     \t0.0     \t 1.0\n5\t        1.0\t        0.0\t         0.0\n'

In [6]:
# Q6
'''In Ordinal data, while encoding, one should retain the information regarding the order in which the category is
   provided. Like in the above example the highest degree a person possesses, gives vital information about his 
   qualification. The degree is an important feature to decide whether a person is suitable for a post or not.

   While encoding Nominal data, we have to consider the presence or absence of a feature. In such a case, no notion of
   order is present.
   '''

'In Ordinal data, while encoding, one should retain the information regarding the order in which the category is\n   provided. Like in the above example the highest degree a person possesses, gives vital information about his \n   qualification. The degree is an important feature to decide whether a person is suitable for a post or not.\n\n   While encoding Nominal data, we have to consider the presence or absence of a feature. In such a case, no notion of\n   order is present.\n   '

In [9]:
# Q7
'''Target encoding is the method of converting a categorical value into the mean of the target variable. This type of
   encoding is a type of bayesian encoding method where bayesian encoders use target variables to encode the categorical
   value.
   Example:'''
import pandas as pd
df=pd.DataFrame({'name':[
'rahul','ashok','ankit','rahul','ashok','ankit'
],'monthly_charge' : [10,20,30,60,70,80,], 'age':[10,15,25,23,63,45],'gender':['male','male','male','male','male','male']
                 ,'contract_type':['weekly','monthly','half_yearly','weekly','yearly','yearly']})
df

    name  monthly_charge  age gender contract_type
0  rahul              10   10   male        weekly
1  ashok              20   15   male       monthly
2  ankit              30   25   male   half_yearly
3  rahul              60   23   male        weekly
4  ashok              70   63   male        yearly
5  ankit              80   45   male        yearly